<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{'/' + ${user.id}}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="age">Enter age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br>
    <input type="hidden" name="_method" value="PATCH"/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>